.text-decoration-none {
  text-decoration: none;
}
.cart-count {
  transform: translateY(-20%) translateX(55%);
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #fff;
  background: $primary-color;
  border-radius: 50%;
}
